USE [DEPT_Actuary_JMarx]
GO
/****** Object:  StoredProcedure [dbo].[PersonID - Charlson Comorbidity History]    Script Date: 1/20/2020 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PersonID - Charlson Comorbidity History] AS

BEGIN

/**********************************************************************************/
/* DECLARE INITIAL PARAMETERS FOR THE TRANSACTION LOG */

DECLARE 
 @TransactionName			VARCHAR(1000) = ( '[' + DB_NAME() + '].[' + OBJECT_SCHEMA_NAME( @@PROCID ) + '].[' + OBJECT_NAME( @@PROCID ) + ']')
,@TransactionDescription	VARCHAR(1000) = 'Update the Person ID - Charlson Comorbidity History Table';


/**********************************************************************************************************************************************************************************************************/
/*CREATE TABLES OF DIAGNOSIS CODES FROM THE ICD DX ENHANCED QUAN METHODOLOGY (Quan et al., 2005). FOR CHARLSON COMORBIDITY INDEX*/
IF OBJECT_ID('tempdb..#Left3_DX') IS NOT NULL DROP TABLE #Left3_DX;

CREATE TABLE #Left3_DX (
   DIAG varchar(8) primary key
  ,ICD_VERSION tinyint 
  ,MI int
  ,CHF int
  ,PVD int
  ,CD int
  ,COPD int
  ,Demen int
  ,Para int
  ,Diab1 int
  ,Diab2 int
  ,Renal int
  ,MildLiver int
  ,ModSevLiver int
  ,Ulcer int
  ,Rheum int
  ,AIDS int
  ,Malig int
  ,Tumor int
);

IF OBJECT_ID('tempdb..#Left4_ICD10DX') IS NOT NULL DROP TABLE #Left4_ICD10DX;

CREATE TABLE #Left4_ICD10DX (
   DIAG varchar(8) primary key
  ,ICD_VERSION tinyint 
  ,MI int
  ,CHF int
  ,PVD int
  ,CD int
  ,COPD int
  ,Demen int
  ,Para int
  ,Diab1 int
  ,Diab2 int
  ,Renal int
  ,MildLiver int
  ,ModSevLiver int
  ,Ulcer int
  ,Rheum int
  ,AIDS int
  ,Malig int
  ,Tumor int
);

IF OBJECT_ID('tempdb..#Left4_ICD9DX') IS NOT NULL DROP TABLE #Left4_ICD9DX;

CREATE TABLE #Left4_ICD9DX (
   DIAG varchar(8) primary key
  ,ICD_VERSION tinyint 
  ,MI int
  ,CHF int
  ,PVD int
  ,CD int
  ,COPD int
  ,Demen int
  ,Para int
  ,Diab1 int
  ,Diab2 int
  ,Renal int
  ,MildLiver int
  ,ModSevLiver int
  ,Ulcer int
  ,Rheum int
  ,AIDS int
  ,Malig int
  ,Tumor int
);

IF OBJECT_ID('tempdb..#ICD9_DX') IS NOT NULL DROP TABLE #ICD9_DX;

CREATE TABLE #ICD9_DX (
   DIAG varchar(8) primary key
  ,ICD_VERSION tinyint 
  ,MI int
  ,CHF int
  ,PVD int
  ,CD int
  ,COPD int
  ,Demen int
  ,Para int
  ,Diab1 int
  ,Diab2 int
  ,Renal int
  ,MildLiver int
  ,ModSevLiver int
  ,Ulcer int
  ,Rheum int
  ,AIDS int
  ,Malig int
  ,Tumor int
);

/**********************************************************************************************************************************************************************************************************/
/* FILL THE TABLES.  THESE TABLES SHOULD INCLUDE A DX CODE, THE ICD VERSION, AND WHICH COMORBIDITY FACTOR IT INDICATES */

INSERT INTO #Left3_DX values 
  /*Myocardial Infarction*/
   ('410', 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('412', 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I21', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I22', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Congestive Heart Failure*/
  ,('428', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I43', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I50', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Peripheral Vascular Disease*/
  ,('440', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('441', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I70', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I71', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Cerebrovascular Disease*/
  ,('430', 9, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('438', 9, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G45', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G46', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I60', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I61', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I62', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I63', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I64', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I65', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I66', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I67', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I68', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I69', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Chronic Pulmonary Disease*/
  ,('490', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('505', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J40', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J41', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J42', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J43', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J44', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J45', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J46', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J47', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J60', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J61', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J62', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J63', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J64', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J65', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J66', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J67', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Dementia*/
  ,('290', 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('F00', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('F01', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('F02', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('F03', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G30', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Hemiplegia or Paraplegia (Paralysis)*/
  ,('342', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('343', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G81', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G82', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Renal Disease*/
  ,('582', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('585', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('586', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('V56', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N18', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N19', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  /*Mild Liver Disease*/
  ,('570', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('571', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('B18', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K73', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K74', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  /*Peptic Ulcer Disease*/
  ,('531', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  ,('534', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  ,('K25', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  ,('K26', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  ,('K27', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  ,('K28', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0)
  /*Rheumatic Disease*/
  ,('725', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M05', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M06', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M32', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M33', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M34', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  /*AIDS/HIV*/
  ,('042', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('043', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('044', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('B20', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('B21', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('B22', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  ,('B24', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)
  /*Any Malignancy, including lymphoma and leukemia, except malignant neoplasm of skin*/
  ,('140', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('141', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('142', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('143', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('144', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('145', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('146', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('147', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('148', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('149', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('150', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('151', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('152', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('153', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('154', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('155', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('156', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('157', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('158', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('159', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('160', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('161', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('162', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('163', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('164', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('165', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('166', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('167', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('168', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('169', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('170', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('171', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('172', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('174', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('175', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('176', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('177', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('178', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('179', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('180', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('181', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('182', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('183', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('184', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('185', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('186', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('187', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('188', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('189', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('190', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('191', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('192', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('193', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('194', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('200', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('201', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('202', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('203', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('204', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('205', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('206', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('207', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('208', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C00', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C01', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C02', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C03', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C04', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C05', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C06', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C07', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C08', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C09', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C10', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C11', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C12', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C13', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C14', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C15', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C16', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C17', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C18', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C19', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C20', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C21', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C22', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C23', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C24', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C25', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C26', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C30', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C31', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C32', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C33', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C34', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C37', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C38', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C39', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C40', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C41', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C43', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C45', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C46', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C47', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C48', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C49', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C50', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C51', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C52', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C53', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C54', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C55', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C56', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C57', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C58', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C60', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C61', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C62', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C63', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C64', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C65', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C66', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C67', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C68', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C69', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C70', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C71', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C72', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C73', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C74', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C75', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C76', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C81', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C82', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C83', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C84', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C85', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C88', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C90', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C91', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C92', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C93', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C94', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C95', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C96', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  ,('C97', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
  /*Metastatic Solid Tumor*/
  ,('196', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('197', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('198', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('199', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('C77', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('C78', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('C79', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)
  ,('C80', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);

INSERT INTO #ICD9_DX values
  /*CODES WITH EXACTLY 5 CHARACTES*/
  /*Congestive Heart Failure & Renal Disease*/
   ('40493', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  /*Congestive Heart Failure*/
  ,('39891', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40201', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40211', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40291', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40401', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40403', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40411', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40413', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('40491', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Cerebrovascular Disease*/
  ,('36234', 9, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Renal Disease*/
  ,('40301', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('40311', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('40391', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('40492', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  /*Mild Liver Disease*/
  ,('07022', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('07023', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('07032', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('07033', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('07044', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('07054', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  /*CODES WITH EXACTLY FOUR CHARACTERS*/
  /*Congestive Heart Failure*/
   ,('4254', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4255', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4256', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4257', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4258', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4259', 9, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Peripheral Vascular Disease*/
   ,('0930', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4373', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4431', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4432', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4433', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4434', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4435', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4436', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4437', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4438', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4439', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('5571', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('5579', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('V434', 9, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Chronic Pulmonary Disease*/
   ,('4168', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('4169', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('5064', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('5081', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('5088', 9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Dementia*/
   ,('2941', 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3312', 9, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Hemiplegia or Paraplegia (Paralysis)*/
   ,('3341', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3440', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3441', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3442', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3443', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3444', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3445', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3446', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('3449', 9, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Diabetes without Chronic Complication*/
   ,('2500', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2501', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2502', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2503', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2508', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2509', 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Diabetes with Chronic Complication*/
   ,('2504', 9, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2505', 9, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2506', 9, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
   ,('2507', 9, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Renal Disease*/
   ,('5830', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5831', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5832', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5833', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5834', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5835', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5836', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5837', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('5880', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('V420', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   ,('V451', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
   /*Mild Liver Disease*/
   ,('0706', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('0709', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('5733', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('5734', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('5738', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('5739', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   ,('V427', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
   /*Moderate or Severe Liver Disease*/
   ,('4560', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('4561', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('4562', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5722', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5723', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5724', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5725', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5726', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5727', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   ,('5728', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
   /*Rheumatic Disease*/
   ,('4465', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7100', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7101', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7102', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7103', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7104', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7140', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7141', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7142', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   ,('7148', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
   /*Any Malignancy, including lymphoma and leukemia, except malignant neoplasm of skin*/
   ,('1950', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1951', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1952', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1953', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1954', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1955', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1956', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1957', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('1958', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
   ,('2386', 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0);

INSERT INTO #Left4_ICD10DX values 
  /*Myocardial Infarction*/
   ('I252', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
   /*Congestive Heart Failure*/
  ,('I099', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I110', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I130', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I132', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I255', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I420', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I425', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I426', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I427', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I428', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I429', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('P290', 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Peripheral Vascular Disease*/
  ,('I731', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I738', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I739', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I771', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I790', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I792', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('K551', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('K558', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('K559', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('Z958', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('Z959', 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Cerebrovascular Disease*/
  ,('H340', 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Chronic Pulmonary Disease*/
  ,('I278', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('I279', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J684', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J701', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('J703', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Dementia*/
  ,('F051', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G311', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Hemiplegia or Paraplegia (Paralysis)*/
  ,('G041', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G114', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G801', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G802', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G830', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G831', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G832', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G833', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G834', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('G839', 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Diabetes without Chronic Complication*/
  ,('E100', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E101', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E106', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E108', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E109', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E110', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E111', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E116', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E118', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E119', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E120', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E121', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E126', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E128', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E129', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E130', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E131', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E136', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E138', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E139', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E140', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E141', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E146', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E148', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E149', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Diabetes with Chronic Complication*/
  ,('E102', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E103', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E104', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E105', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E107', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E112', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E113', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E114', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E115', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E117', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E122', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E123', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E124', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E125', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E127', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E132', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E133', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E134', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E135', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E137', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E142', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E143', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E144', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E145', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  ,('E147', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0)
  /*Renal Disease*/
  ,('I120', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('I131', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N032', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N033', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N034', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N035', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N036', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N037', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N052', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N053', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N054', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N055', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N056', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N057', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('N250', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('Z490', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('Z491', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('Z492', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('Z940', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  ,('Z992', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)
  /*Mild Liver Disease*/
  ,('K700', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K701', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K702', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K703', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K709', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K713', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K714', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K715', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K717', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K760', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K762', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K763', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K764', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K768', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('K769', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  ,('Z944', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0)
  /*Moderate or Severe Liver Disease*/
  ,('I850', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('I859', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('I864', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('I982', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K704', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K711', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K721', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K729', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K765', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K766', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  ,('K767', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
  /*Rheumatic Disease*/
  ,('M315', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M351', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M353', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
  ,('M360', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0);

/**********************************************************************************************************************************************************************************************************/
/* FIND ALL CLAIMLINES ASSOCIATED WITH MEMBERS */
IF OBJECT_ID ('tempdb..#CLAIMLINES') IS NOT NULL DROP TABLE #CLAIMLINES;

SELECT 
 Person.PersonID AS 'Member'
,C.DATEKEY AS 'DOS'
,CASE WHEN DIAG1.DIAG_TYP = 'ICD-9' THEN 9
	  WHEN DIAG1.DIAG_TYP = 'ICD-10' THEN 0
	  ELSE NULL 
	  END AS 'ICD_VERSION'
,[DIAG1].ODIAG AS 'DIAG'
INTO #CLAIMLINES
FROM 
wea_dw.dmlib.clmln_fact AS CLF

	LEFT JOIN [wea_dw].[DMLIB].[CLMLN_DIAG] AS DIAG1
		ON DIAG1.CLMLN_KEY = CLF.CLMLN_KEY

	JOIN wea_dw.DMLIB.DATE_DIM AS C
		ON C.DATE_KEY = CLF.INCDT_KEY

	LEFT JOIN [wea_dw].[DMLIB].[CLM_FACT] AS CF
		ON CLF.CLAIMKEY = CF.CLAIMKEY

		LEFT JOIN DEPT_Actuary_JMarx.dbo.Person_ID AS Person
			ON Person.PAT_KEY = CF.PAT_KEY
WHERE
ISNULL( DIAG1.ODIAG, '' ) != ''
/* 158,195,959 rows; 2:49  m:s; 2016-06-23*/
;

/*FOR DEBUGGING*/ --SELECT DISTINCT MEMBER FROM #CLAIMLINES

/**********************************************************************************************************************************************************************************************************/
/* RETAIN ONLY THE DIAGNOSIS CODES OF INTEREST */


/* FIND THE DIAGNOSIS CODES OF IMPORTANCE WITH THE CORRECT FIRST 3 CHARACTERS */
IF OBJECT_ID ('tempdb..#CLAIMLINES_LEFT3') IS NOT NULL DROP TABLE #CLAIMLINES_LEFT3;

SELECT 
 C.[MEMBER]
,C.DOS
,C.ICD_VERSION
,C.[DIAG]
,D.MI 
,D.CHF 
,D.PVD 
,D.CD 
,D.COPD 
,D.Demen 
,D.Para 
,D.Diab1 
,D.Diab2 
,D.Renal 
,D.MildLiver 
,D.ModSevLiver 
,D.Ulcer 
,D.Rheum 
,D.AIDS 
,D.Malig 
,D.Tumor 
INTO 
#CLAIMLINES_LEFT3
FROM 
#CLAIMLINES AS C

	JOIN #Left3_DX AS D
		ON D.ICD_VERSION = C.ICD_VERSION
		AND D.DIAG = LEFT( C.DIAG,3 );

/* 9,348,280 rows; 0:20 m:s; 2016-06-23*/

/* FOR DEBUGGING */ --SELECT * FROM #CLAIMLINES_LEFT3


/* FIND THE ICD 9 DIAGNOSIS CODES OF IMPORTANCE BY FIRST FIVE CHARACTERS (THIS SHOULD BE THE COMPLETE ICD 9 DX CODE) */
IF OBJECT_ID ('tempdb..#CLAIMLINES_ICD9') IS NOT NULL DROP TABLE #CLAIMLINES_ICD9;

SELECT 
 C.[MEMBER]
,C.DOS
,C.ICD_VERSION
,C.[DIAG]
,D.MI 
,D.CHF 
,D.PVD 
,D.CD 
,D.COPD 
,D.Demen 
,D.Para 
,D.Diab1 
,D.Diab2 
,D.Renal 
,D.MildLiver 
,D.ModSevLiver 
,D.Ulcer 
,D.Rheum 
,D.AIDS 
,D.Malig 
,D.Tumor 
INTO 
#CLAIMLINES_ICD9
FROM 
#CLAIMLINES AS C

	JOIN #ICD9_DX AS D
		ON D.ICD_VERSION = C.ICD_VERSION
		AND D.DIAG = C.DIAG;

/* 1,778,114 rows; 0:07 m:s; 2016-06-23*/

/* FIND THE ICD 10 DIAGNOSIS CODES OF IMPORTANCE BY FIRST FOUR CHARACTERS (ONLY FOUR ARE USED TO ALLOW FOR INTERNATIONAL USE) */
IF OBJECT_ID ('tempdb..#CLAIMLINES_ICD10') IS NOT NULL DROP TABLE #CLAIMLINES_ICD10;

SELECT 
 C.[MEMBER]
,C.DOS
,C.ICD_VERSION
,C.[DIAG]
,D.MI 
,D.CHF 
,D.PVD 
,D.CD 
,D.COPD 
,D.Demen 
,D.Para 
,D.Diab1 
,D.Diab2 
,D.Renal 
,D.MildLiver 
,D.ModSevLiver 
,D.Ulcer 
,D.Rheum 
,D.AIDS 
,D.Malig 
,D.Tumor 
INTO 
#CLAIMLINES_ICD10
FROM 
#CLAIMLINES AS C
	
	JOIN #Left4_ICD10DX AS D
		ON D.ICD_VERSION = C.ICD_VERSION
		AND D.DIAG = LEFT( C.DIAG,4 );

/* 196,943 rows; 0:09 m:s; 2016-06-23*/

IF OBJECT_ID ('tempdb..#CLAIMLINES') IS NOT NULL DROP TABLE #CLAIMLINES;

/***********************************************************************************************************************************************************************/
/* JOIN THE IMPORTANT DX CODES BACK TO A SINGLE TABLE TO USE.  ADD THE CHARLSON SCORES */

IF OBJECT_ID ('tempdb..#CLAIMLINE_COMORB_DX') IS NOT NULL DROP TABLE #CLAIMLINE_COMORB_DX;

SELECT 
 A.MEMBER
,A.DOS
,MI 
,CHF 
,PVD 
,CD 
,COPD 
,Demen 
,Para 
,Diab1 
,Diab2 
,Renal 
,MildLiver 
,ModSevLiver 
,Ulcer 
,Rheum 
,AIDS 
,Malig 
,Tumor 
INTO 
#CLAIMLINE_COMORB_DX
FROM(
	SELECT *
	FROM 
	#CLAIMLINES_LEFT3
	UNION ALL
	SELECT * 
	FROM 
	#CLAIMLINES_ICD9
	UNION ALL
	SELECT * 
	FROM 
	#CLAIMLINES_ICD10
) AS A;

/* 11,323,337 rows; 0:11 m:s; 2016-06-23*/

/* FOR DEBUGGING */ --SELECT * FROM #CLAIMLINE_COMORB_DX
/* FOR DEBUGGING */ --SELECT DISTINCT MEMBER FROM #CLAIMLINE_COMORB_DX /*35,702 rows*/

IF OBJECT_ID ('tempdb..#CLAIMLINES_ICD10') IS NOT NULL DROP TABLE #CLAIMLINES_ICD10;
IF OBJECT_ID ('tempdb..#CLAIMLINES_ICD9') IS NOT NULL DROP TABLE #CLAIMLINES_ICD9;
IF OBJECT_ID ('tempdb..#CLAIMLINES_LEFT3') IS NOT NULL DROP TABLE #CLAIMLINES_LEFT3;

/***********************************************************************************************************************************************************************/
/* AGGREGATE THE SCORES FOR A DOS */

IF OBJECT_ID ('tempdb..#AGG_MEM_DOS') IS NOT NULL DROP TABLE #AGG_MEM_DOS;

SELECT 
 MEMBER
,DOS
,MAX( [MI] ) AS 'MI'
,MAX( [CHF] ) AS 'CHF'
,MAX( [PVD] ) AS 'PVD'
,MAX( [CD] ) AS 'CD'
,MAX( [COPD] ) AS 'COPD'
,MAX( [Demen] ) AS 'Demen'
,MAX( [Para] ) AS 'Para'
,MAX( [Diab1] ) AS 'Diab1'
,MAX( [Diab2] ) AS 'Diab2'
,MAX( [Renal] ) AS 'Renal'
,MAX( [MildLiver] ) AS 'MildLiver'
,MAX( [ModSevLiver] ) AS 'ModSevLiver'
,MAX( [Ulcer] ) AS 'Ulcer'
,MAX( [Rheum] ) AS 'Rheum'
,MAX( [AIDS] ) AS 'AIDS'
,MAX( [Malig] ) AS 'Malig'
,MAX( [Tumor] ) AS 'Tumor'
INTO 
#AGG_MEM_DOS
FROM 
#CLAIMLINE_COMORB_DX
GROUP BY 
 MEMBER
,DOS;

/* 1,505,040 rows; 0:06 m:s; 2016-06-23*/


/* FOR DEBUGGING */ --SELECT * FROM #AGG_MEM_DOS ORDER BY MEMBER,DOS
/* FOR DEBUGGING */ --SELECT TOP 1000 * FROM #AGG_MEM_DOS ORDER BY MEMBER,DOS


IF OBJECT_ID ('tempdb..#CLAIMLINE_COMORB_DX') IS NOT NULL DROP TABLE #CLAIMLINE_COMORB_DX;

/***********************************************************************************************************************************************************************/
/* CREATE A RUNNING TOTAL FOR A MEMBER BY DOS */

IF OBJECT_ID('tempdb..#MEM_DOS_IND') IS NOT NULL DROP TABLE #MEM_DOS_IND;

SELECT
 A.MEMBER
,A.DOS
,MAX( B.[MI] ) AS 'MI'
,MAX( B.[CHF] ) AS 'CHF'
,MAX( B.[PVD] ) AS 'PVD'
,MAX( B.[CD] ) AS 'CD'
,MAX( B.[COPD] ) AS 'COPD'
,MAX( B.[Demen] ) AS 'Demen'
,MAX( B.[Para] ) AS 'Para'
,MAX( B.[Diab1] ) AS 'Diab1'
,MAX( B.[Diab2] ) AS 'Diab2'
,MAX( B.[Renal] ) AS 'Renal'
,MAX( B.[MildLiver] ) AS 'MildLiver'
,MAX( B.[ModSevLiver] ) AS 'ModSevLiver'
,MAX( B.[Ulcer] ) AS 'Ulcer'
,MAX( B.[Rheum] ) AS 'Rheum'
,MAX( B.[AIDS] ) AS 'AIDS'
,MAX( B.[Malig] ) AS 'Malig'
,MAX( B.[Tumor] ) AS 'Tumor'
INTO 
#MEM_DOS_IND
FROM 
#AGG_MEM_DOS AS A

	JOIN #AGG_MEM_DOS AS B
		ON A.MEMBER = B.MEMBER
		AND B.DOS <= A.DOS

GROUP BY
 A.MEMBER
,A.DOS
ORDER BY 
 A.MEMBER
,A.DOS;

/* 1,504,967 rows; 2:17 m:s; 2016-06-23*/


/* FOR DEBUGGING */ --SELECT * FROM #MEM_DOS_IND ORDER BY MEMBER, DOS
/* FOR DEBUGGING */ --SELECT TOP 1000 * FROM #MEM_DOS_IND ORDER BY MEMBER, DOS

/***********************************************************************************************************************************************************************/
/* CREATE THE SCORES FOR THE COMORBIDITIES BASED ON ORIGINAL CHARLSON SCORES (CCI), AGE-ADJUSTED CHARLSON SCORES(ACCI),  
AND ALSO ON (Halfon et al., 2003; Schneeweiss et al., 2003) (CCI_UPDATED). */

IF OBJECT_ID ('tempdb..#MEM_DOS_SCORES') IS NOT NULL DROP TABLE #MEM_DOS_SCORES;

SELECT DISTINCT
 DOS.MEMBER
,DOS.DOS 
,CASE WHEN MI = 1 THEN 1
	  ELSE 0
	  END AS 'MI'
,CASE WHEN CHF = 1 THEN 1
	  ELSE 0
	  END AS 'CHF'
,CASE WHEN PVD = 1 THEN 1
	  ELSE 0
	  END AS 'PVD'
,CASE WHEN CD = 1 THEN 1
	  ELSE 0
	  END AS 'CD'
,CASE WHEN COPD = 1 THEN 1
	  ELSE 0
	  END AS 'COPD'
,CASE WHEN Demen = 1 THEN 1
	  ELSE 0
	  END AS 'Demen'
,CASE WHEN Para = 1 THEN 1
	  ELSE 0
	  END AS 'Para'
,CASE WHEN Diab1 = 1 THEN 1
	  ELSE 0
	  END AS 'Diab1'
,CASE WHEN Diab2 = 1 THEN 2
	  ELSE 0
	  END AS 'Diab2'
,CASE WHEN Renal = 1 THEN 2
	  ELSE 0
	  END AS 'Renal'
,CASE WHEN MildLiver = 1 THEN 1
	  ELSE 0
	  END AS 'MildLiver'
,CASE WHEN ModSevLiver = 1 THEN 3
	  ELSE 0
	  END AS 'ModSevLiver'
,CASE WHEN Ulcer = 1 THEN 1
	  ELSE 0
	  END AS 'Ulcer'
,CASE WHEN Rheum = 1 THEN 1
	  ELSE 0
	  END AS 'Rheum'
,CASE WHEN AIDS = 1 THEN 6
	  ELSE 0
	  END AS 'AIDS'
,CASE WHEN Malig = 1 THEN 2
	  ELSE 0
	  END AS 'Malig'
,CASE WHEN Tumor = 1 THEN 6
	  ELSE 0
	  END AS 'Tumor'
,CASE WHEN DATEDIFF(YEAR,MEM.DOB,DOS.DOS) < 40 THEN 0
	  WHEN DATEDIFF(YEAR,MEM.DOB,DOS.DOS) BETWEEN 41 AND 50 THEN 1
	  WHEN DATEDIFF(YEAR,MEM.DOB,DOS.DOS) BETWEEN 51 AND 60 THEN 2
	  WHEN DATEDIFF(YEAR,MEM.DOB,DOS.DOS) BETWEEN 61 AND 70 THEN 3
	  WHEN DATEDIFF(YEAR,MEM.DOB,DOS.DOS) > 70 THEN 4
	  WHEN MEM.DOB = NULL THEN 0
	  END AS 'AgeWeight'
,0 AS 'MI_Updated'
,CASE WHEN CHF = 1 THEN 2
	  ELSE 0
	  END AS 'CHF_Updated'
,0 AS 'PVD_Updated'
,0 AS 'CD_Updated'
,CASE WHEN COPD = 1 THEN 1
	  ELSE 0
	  END AS 'COPD_Updated'
,CASE WHEN Demen = 1 THEN 2
	  ELSE 0
	  END AS 'Demen_Updated'
,CASE WHEN Para = 1 THEN 2
	  ELSE 0
	  END AS 'Para_Updated'
,0 'Diab1_Updated'
,CASE WHEN Diab2 = 1 THEN 1
	  ELSE 0
	  END AS 'Diab2_Updated'
,CASE WHEN Renal = 1 THEN 1
	  ELSE 0
	  END AS 'Renal_Updated'
,CASE WHEN MildLiver = 1 THEN 2
	  ELSE 0
	  END AS 'MildLiver_Updated'
,CASE WHEN ModSevLiver = 1 THEN 4
	  ELSE 0
	  END AS 'ModSevLiver_Updated'
,0 'Ulcer_Updated'
,CASE WHEN Rheum = 1 THEN 1
	  ELSE 0
	  END AS 'Rheum_Updated'
,CASE WHEN AIDS = 1 THEN 4
	  ELSE 0
	  END AS 'AIDS_Updated'
,CASE WHEN Malig = 1 THEN 2
	  ELSE 0
	  END AS 'Malig_Updated'
,CASE WHEN Tumor = 1 THEN 6
	  ELSE 0
	  END AS 'Tumor_Updated'
INTO 
#MEM_DOS_SCORES
FROM 
#MEM_DOS_IND AS DOS

	LEFT JOIN DEPT_Actuary_JMarx.dbo.Person_ID AS Person
		ON Person.PersonID = DOS.MEMBER
		
		LEFT JOIN wea_dw.DMLIB.MBR_DIM AS MEM
			ON MEM.PAT_KEY = Person.PAT_KEY;

/* 3,053,291 rows; 0:09 m:s; 2016-06-23*/


/* FOR DEBUGGING */ --SELECT * FROM #MEM_DOS_SCORES

IF OBJECT_ID('tempdb..#MEM_DOS_IND') IS NOT NULL DROP TABLE #MEM_DOS_IND;

/***********************************************************************************************************************************************************************/
/* SUM THE SCORES FOR THE FINAL INDEX */

IF OBJECT_ID ('DEPT_Actuary_JMarx.dbo.[PersonHistory-Charlson Comorbidities]') IS NOT NULL DROP TABLE DEPT_Actuary_JMarx.dbo.[PersonHistory-Charlson Comorbidities];

SELECT DISTINCT
 MEMBER AS 'PersonID'
,DOS AS 'Date of Service'
,MI AS 'Myocardial Infarction'
,CHF AS 'Congestive Heart Failure'
,PVD AS 'Peripheral Vascular Disease'
,CD AS 'Cerebrovascular Disease'
,COPD AS 'Chronic Pulmonary Disease'
,Demen AS 'Dementia'
,Para AS 'Hemiplegia/Paraplegia'
,Diab1 AS 'Diabetes - No Chronic Complications'
,Diab2 AS 'Diabetes - Chronic Complications'
,Renal AS 'Renal Disease'
,MildLiver AS 'Mild Liver Disease'
,ModSevLiver AS 'Moderate/Severe Liver Disease'
,Ulcer AS 'Peptic Ulcer Disease'
,Rheum AS 'Rheumatic Disease'
,AIDS AS 'AIDS/HIV'
,Malig AS 'Malignancy'
,Tumor AS 'Metastatic Solid Tumor'
,MI + CHF + PVD + CD + COPD + Demen + Para + Diab1 + Diab2 + Renal + MildLiver + ModSevLiver + Ulcer + Rheum + AIDS + Malig + Tumor AS 'Charlson Comorbidity Index'
,MI + CHF + PVD + CD + COPD + Demen + Para + Diab1 + Diab2 + Renal + MildLiver + ModSevLiver + Ulcer + Rheum + AIDS + Malig + Tumor + AgeWeight AS 'Age Adjusted Charlson Comorbidity Index'
,MI_Updated + CHF_Updated + PVD_Updated + CD_Updated + COPD_Updated + Demen_Updated + Para_Updated + Diab1_Updated + Diab2_Updated + Renal_Updated 
	+ MildLiver_Updated + ModSevLiver_Updated + Ulcer_Updated + Rheum_Updated + AIDS_Updated + Malig_Updated + Tumor_Updated AS 'Charlson Comorbidity Index - Updated'
INTO 
DEPT_Actuary_JMarx.dbo.[PersonHistory-Charlson Comorbidities]
FROM 
#MEM_DOS_SCORES
ORDER BY
 [Member]
,[DOS]
/* 1,504,967 rows; 0:05 m:s; 2016-06-23*/


/*************************************************************************************************************************/
/*ADD A ROW TO THE TRANSACTION LOG*/

EXEC DEPT_Actuary_JMarx.dbo.[TransactionLogInsert]  @TransactionDescription = @TransactionDescription
	,@TransactionStatus = 'Executed'
	,@TransactionComment = 'The procedure to update the PersonID - Charlson Comorbidities table was executed. Success/Failure/Error state unknown.'
	,@TransactionName =  @TransactionName

END
GO
