USE [DEPT_Actuary_JMarx]
GO
/****** Object:  StoredProcedure [dbo].[MEDINSIGHT_CCS_LABELS]    Script Date: 1/20/2020 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MEDINSIGHT_CCS_LABELS] AS

BEGIN 

IF OBJECT_ID( 'DEPT_Actuary_JMarx.dbo.MEDINSIGHT_DX_CCS') IS NOT NULL DROP TABLE DEPT_Actuary_JMarx.dbo.MEDINSIGHT_DX_CCS;

SELECT
 ICD_DIAG
,ICD_10_OR_HIGHER
,CCS.ICD_DIAG_CCS_LVL_1_LABEL
,CCS.ICD_DIAG_CCS_LVL_2_LABEL
,[ICD_DIAG_CCS_LVL_3_LABEL] =
	CASE
		WHEN ICD_10_OR_HIGHER = '1' THEN CCS10.ICD10_CCS_LVL_3_LABEL
		WHEN ICD_10_OR_HIGHER = '0' THEN CCS9.ICD9_CCS_LVL_3_LABEL
		ELSE NULL
	END 
,CCS9.ICD9_CCS_LVL_3_LABEL
,CCS10.ICD10_CCS_LVL_3_LABEL
INTO
DEPT_Actuary_JMarx.dbo.MEDINSIGHT_DX_CCS
FROM
[MedInsight].[dbo].[RFT_ICD_DIAG] AS DIAG
	
	LEFT JOIN MedInsight.dbo.RFT_CCS_ICD_DIAG AS CCS
		ON CCS.ICD_DIAG_CCS_KEY = DIAG.ICD_CCS_DX_KEY

	LEFT JOIN MedInsight.dbo.RFT_CCS_ICD9_DIAG AS CCS9
		ON CCS9.ICD9_CCS_DX_KEY = DIAG.ICD9_CCS_DX_KEY

	LEFT JOIN MedInsight.dbo.RFT_CCS_ICD10_DIAG AS CCS10
		ON CCS10.ICD10_CCS_DX_KEY = DIAG.ICD10_CCS_DX_KEY

END
GO
