SELECT
 DATE_KEY
,DATE_VALUE
,YEAR_NUMBER
,MONTH_NUMBER
,CONCAT( CAST( YEAR_NUMBER AS VARCHAR( 4 ) ), 
		CASE WHEN LEN( MONTH_NUMBER ) = 1 THEN CONCAT( '0', CAST( MONTH_NUMBER AS VARCHAR( 1 ) ) )
			 ELSE CAST( MONTH_NUMBER AS VARCHAR ( 2 ) )
			 END ) AS 'YEAR_MONTH'
,AHF.ACCOUNT_KEY
,AHF.ACCOUNT_NAME
,CONCAT( AHF.ACCOUNT_KEY, '-', DateDim.YEAR_NUMBER, '-', DateDim.MONTH_NUMBER ) AS 'Account-Year-Month'
,COUNT( DISTINCT MHF.MEMBER_HCC_ID ) AS 'Member Count'
FROM 
[wea_prod_dw].[dbo].[DATE_DIMENSION] AS DateDim

	LEFT JOIN [wea_prod_dw].[dbo].[ACCOUNT_HISTORY_FACT] AS AHF
		ON DateDim.DATE_KEY BETWEEN AHF.VERSION_EFF_DATE_KEY AND AHF.VERSION_EXP_DATE_KEY - 1

		LEFT JOIN [wea_prod_dw].[dbo].[MEMBER_HISTORY_FACT] AS MHF
			ON MHF.ACCOUNT_KEY = AHF.ACCOUNT_KEY
			AND DateDim.DATE_KEY BETWEEN MHF.VERSION_EFF_DATE_KEY AND MHF.VERSION_EXP_DATE_KEY - 1

			LEFT JOIN [wea_prod_dw].[dbo].[MEMBER_HIST_FACT_TO_BNFT_PLAN] AS MHFToBP
				ON MHFToBP.MEMBER_HISTORY_FACT_KEY = MHF.MEMBER_HISTORY_FACT_KEY

				LEFT JOIN [wea_prod_dw].[dbo].[BENEFIT_PLAN_HISTORY_FACT] AS BPHF
					ON BPHF.BENEFIT_PLAN_KEY = MHFToBP.BENEFIT_PLAN_KEY
					AND DateDim.DATE_KEY BETWEEN BPHF.VERSION_EFF_DATE_KEY AND BPHF.VERSION_EXP_DATE_KEY - 1

					LEFT JOIN wea_prod_dw.dbo.PRODUCT AS PRODUCT
						ON PRODUCT.PRODUCT_KEY = BPHF.BENEFIT_PLAN_PRODUCT_KEY

						LEFT JOIN [wea_prod_dw].[dbo].[BENEFIT_PLAN_TYPE_CODE] AS BPTC
							ON BPTC.BENEFIT_PLAN_TYPE_KEY = PRODUCT.BENEFIT_PLAN_TYPE_KEY

WHERE 
DAY_OF_MONTH = '15'
AND
YEAR_NUMBER BETWEEN CASE WHEN ( YEAR( GETDATE() ) - 5 ) >= 2013 THEN ( YEAR( GETDATE() ) - 5 )
						 ELSE 2013
						 END
						 AND YEAR( GETDATE() )
AND
BENEFIT_PLAN_STATUS = 'a' /* Active Plans Only*/
AND
BPTC.BENEFIT_PLAN_TYPE_CODE = '1' /* Medical LOB Only */
GROUP BY
 DATE_KEY
,DATE_VALUE
,YEAR_NUMBER
,MONTH_NUMBER
,CONCAT( CAST( YEAR_NUMBER AS VARCHAR( 4 ) ), 
		CASE WHEN LEN( MONTH_NUMBER ) = 1 THEN CONCAT( '0', CAST( MONTH_NUMBER AS VARCHAR( 1 ) ) )
			 ELSE CAST( MONTH_NUMBER AS VARCHAR ( 2 ) )
			 END )
,AHF.ACCOUNT_KEY
,AHF.ACCOUNT_NAME
,CONCAT( AHF.ACCOUNT_KEY, '-', DateDim.YEAR_NUMBER, '-', DateDim.MONTH_NUMBER )
ORDER BY
 ACCOUNT_NAME
,YEAR_NUMBER
,MONTH_NUMBER